* {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  /* Try #099FFF, #00FFFF, #00adee? */
  background-color: #000000;
}

#instructions {
  text-align: center;
  font-weight: 200;
  padding-top: 4%;
  padding-bottom: 5px;
  /* Change back if body color is changed */
  color: white;
}

#input {
  padding: 0 15px;
  border: 0;
  width: 190px;
  height: 100%;
  font-size: 16px;
}

#photo {
  display: inline;
  width: 175px;
  margin-top: 30px;
  margin-left: 55px;
  border-radius: 3px;
  float: left;
}

#name {
  display: inline;
  margin-top: 40px;
  margin-left: 15px;
  float: left;
}
