/* Steam color palette: https://colorswall.com/palette/193/ */

* {
  font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
  background-color: #000000;
  max-width: 1200px;
  margin: 0 auto;
}
.gradient-background {
  /* TODO: Work on this, and get player's BG image */
  background: 0 0;
  background-image: linear-gradient(to right, transparent 0, rgba(22,25,32,.95) 10%, rgba(22,25,32,.95) 90%,transparent 100%);
  background-size: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1200px) {
  body {
    max-width: 90%;
  }
}

a {
  color: #0082c8 !important;
  text-decoration: none;
}

#instructions {
  text-align: center;
  font-weight: 200;
  padding-top: 4%;
  padding-bottom: 5px;
  color: white;
}
#username {
  font-size: 16px;
  width: 190px;
  height: 40px;
  display: table;
  margin: auto;
  padding: 0 15px;
  border: 0;
}
#errorMessage {
  display: table;
  margin: auto;
  margin-top: 12px;
  color: red;
  visibility: hidden;
}

#profile {
  display: none;
  flex-direction: column;
}

#overview {
  width: 100%;
  padding: 25px 0px;
}
#profilePic {
  width: 175px;
  border-radius: 3px;
  vertical-align: baseline;
}
#textDiv {
  display: inline-block;
  margin-top: 17.5px;
}
#name {
  font-weight: bold;
  margin-bottom: 1rem;
}
#textDiv p, #textDiv a, #level {
  margin-left: 15px;
  display: table;
  line-height: 1;
  color: /*#c7d5e0*/ #fff;
}
#level {
  /* TODO: Style this section better */
  margin-top: -8px;
  margin-bottom: 7px;
}
#level-circle {
  display: inline;
}
.circles-text {
  font-size: 16px !important;
}

#friends {
  background-color: #1b2838;
  border-radius: 7.5px;
  margin-bottom: 12.5px;
}
#friends h3 {
  width: 100%;
  color: white;
  padding-top: 17.5px;
  margin-left: 25px;
}
#friendList {
  /* https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/ */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}
#friendList > * {
  /* https://stackoverflow.com/a/48752954/6456163 */
  margin-right: 5px;
  margin-bottom: 5px;
}

.container {
  max-width: 100% !important;
}
.faded-out {
  opacity: 0;
}
.friendCard {
  min-width: 225px !important;
  height: 72px;
  border-radius: 10px;
  background-color: #2a475e;
  cursor: pointer;
  display: inline-flex;
  padding: 0px !important;

  transition: opacity 2000ms;
  will-change: opacity;
}
.friendCard:hover {
  text-decoration: none;
}
.friendCard img {
  height: 64px;
  width: 64px;
  margin-top: 4px;
  margin-left: 5px;
  border-radius: 5px;
}
.friendName {
  color: #c7d5e0;
  margin-top: 6px;
  margin-left: 7.5px;
}
.friendCard:last-of-type {
  margin-bottom: 15px !important;
}